/* Compensar a altura da navbar fixa */
body {
  padding-top: 90px; /* Ajuste até o cabeçalho descer o suficiente */
  background-color: #f8f9fa;
}

/* Cabeçalho */
header h1 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #012169; /* cor personalizada */
}

header p {
  font-size: 1rem;
  color: #6c757d;
}

/* Título dos cards */
.card-title {
  font-weight: bold;
}

/* Status de serviços */
.status-ok {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-warning {
  background-color: #ffc107;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-error {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
